<!-- ===== Sidebar Start ===== -->
<aside
    :class="sidebarToggle ? 'translate-x-0 xl:w-[90px]' : '-translate-x-full'"
    class="sidebar fixed top-0 left-0 z-9999 flex h-screen w-[290px] flex-col overflow-y-auto border-r border-gray-200 bg-white px-5 transition-all duration-300 xl:static xl:translate-x-0 dark:border-gray-800 dark:bg-black"
    @click.outside="sidebarToggle = false"
>
    <!-- SIDEBAR HEADER -->
    <div
        :class="sidebarToggle ? 'justify-center' : 'justify-between'"
        class="sidebar-header flex items-center gap-2 pt-8 pb-7"
    >
        <a href="/dashboard">
            <span class="logo" :class="sidebarToggle ? 'hidden' : ''">
                <img
                    class="dark:hidden"
                    src="/assets/src/images/logo/autotrics.png"
                    alt="Logo"
                />
                <img
                    class="hidden dark:block"
                    src="/assets/src/images/logo/autotrics-white.png"
                    alt="Logo"
                />
            </span>

            <img
                class="logo-icon"
                :class="sidebarToggle ? 'xl:block' : 'hidden'"
                src="/assets/src/images/logo/autotrics-icon.png"
                alt="Logo"
            />
        </a>
    </div>
    <!-- SIDEBAR HEADER -->

    <div
        class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear space-y-8"
    >
        <!-- Sidebar Menu -->
        <nav x-data="{selected: $persist('Dashboard')}">
            <!-- Menu Group -->
            <div class="space-y-2">
                <h3 class="mb-4 text-xs leading-[20px] text-gray-400 uppercase">
                    <span
                        class="menu-group-title"
                        :class="sidebarToggle ? 'xl:hidden' : ''"
                    >
                        MENU
                    </span>

                    <svg
                        :class="sidebarToggle ? 'xl:block hidden' : 'hidden'"
                        class="menu-group-icon mx-auto fill-current"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M5.99915 10.2451C6.96564 10.2451 7.74915 11.0286 7.74915 11.9951V12.0051C7.74915 12.9716 6.96564 13.7551 5.99915 13.7551C5.03265 13.7551 4.24915 12.9716 4.24915 12.0051V11.9951C4.24915 11.0286 5.03265 10.2451 5.99915 10.2451ZM17.9991 10.2451C18.9656 10.2451 19.7491 11.0286 19.7491 11.9951V12.0051C19.7491 12.9716 18.9656 13.7551 17.9991 13.7551C17.0326 13.7551 16.2491 12.9716 16.2491 12.0051V11.9951C16.2491 11.0286 17.0326 10.2451 17.9991 10.2451ZM13.7491 11.9951C13.7491 11.0286 12.9656 10.2451 11.9991 10.2451C11.0326 10.2451 10.2491 11.0286 10.2491 11.9951V12.0051C10.2491 12.9716 11.0326 13.7551 11.9991 13.7551C12.9656 13.7551 13.7491 12.9716 13.7491 12.0051V11.9951Z"
                            fill="currentColor"
                        />
                    </svg>
                </h3>

                <!-- Menu Item Dashboard -->
                <li>
                    <a
                        href="/dashboard"
                        @click="selected = (selected === 'Dashboard' ? '':'Dashboard')"
                        class="menu-item group"
                        :class=" (selected === 'Dashboard') && (page === 'dashboard') ? 'menu-item-active' : 'menu-item-inactive'"
                    >
                        <svg
                            :class="(selected === 'Dashboard') && (page === 'dashboard') ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M5.5 3.25C4.25736 3.25 3.25 4.25736 3.25 5.5V8.99998C3.25 10.2426 4.25736 11.25 5.5 11.25H9C10.2426 11.25 11.25 10.2426 11.25 8.99998V5.5C11.25 4.25736 10.2426 3.25 9 3.25H5.5ZM4.75 5.5C4.75 5.08579 5.08579 4.75 5.5 4.75H9C9.41421 4.75 9.75 5.08579 9.75 5.5V8.99998C9.75 9.41419 9.41421 9.74998 9 9.74998H5.5C5.08579 9.74998 4.75 9.41419 4.75 8.99998V5.5ZM5.5 12.75C4.25736 12.75 3.25 13.7574 3.25 15V18.5C3.25 19.7426 4.25736 20.75 5.5 20.75H9C10.2426 20.75 11.25 19.7427 11.25 18.5V15C11.25 13.7574 10.2426 12.75 9 12.75H5.5ZM4.75 15C4.75 14.5858 5.08579 14.25 5.5 14.25H9C9.41421 14.25 9.75 14.5858 9.75 15V18.5C9.75 18.9142 9.41421 19.25 9 19.25H5.5C5.08579 19.25 4.75 18.9142 4.75 18.5V15ZM12.75 5.5C12.75 4.25736 13.7574 3.25 15 3.25H18.5C19.7426 3.25 20.75 4.25736 20.75 5.5V8.99998C20.75 10.2426 19.7426 11.25 18.5 11.25H15C13.7574 11.25 12.75 10.2426 12.75 8.99998V5.5ZM15 4.75C14.5858 4.75 14.25 5.08579 14.25 5.5V8.99998C14.25 9.41419 14.5858 9.74998 15 9.74998H18.5C18.9142 9.74998 19.25 9.41419 19.25 8.99998V5.5C19.25 5.08579 18.9142 4.75 18.5 4.75H15ZM15 12.75C13.7574 12.75 12.75 13.7574 12.75 15V18.5C12.75 19.7426 13.7574 20.75 15 20.75H18.5C19.7426 20.75 20.75 19.7427 20.75 18.5V15C20.75 13.7574 19.7426 12.75 18.5 12.75H15ZM14.25 15C14.25 14.5858 14.5858 14.25 15 14.25H18.5C18.9142 14.25 19.25 14.5858 19.25 15V18.5C19.25 18.9142 18.9142 19.25 18.5 19.25H15C14.5858 19.25 14.25 18.9142 14.25 18.5V15Z"
                                fill="currentColor"
                            />
                        </svg>

                        <span
                            class="menu-item-text"
                            :class="sidebarToggle ? 'xl:hidden' : ''"
                        >
                            Dashboard
                        </span>
                    </a>
                </li>
                <!-- Menu Item Dashboard -->

                <!-- Menu Item My Cars -->
                <li>
                    <a
                        href="/my-cars"
                        @click="selected = (selected === 'myCars' ? '':'myCars')"
                        class="menu-item group"
                        :class=" (selected === 'myCars') && (page === 'myCars') ? 'menu-item-active' : 'menu-item-inactive'"
                    >
                        <svg
                            :class="(selected === 'myCars') && (page === 'myCars') ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M3 11L4.5 6.5C4.8 5.6 5.6 5 6.5 5H17.5C18.4 5 19.2 5.6 19.5 6.5L21 11V16C21 16.6 20.6 17 20 17H19C18.4 17 18 16.6 18 16V15H6V16C6 16.6 5.6 17 5 17H4C3.4 17 3 16.6 3 16V11ZM6.5 7C6.2 7 6 7.2 5.9 7.5L5.1 10H18.9L18.1 7.5C18 7.2 17.8 7 17.5 7H6.5ZM7 13C7.6 13 8 13.4 8 14C8 14.6 7.6 15 7 15C6.4 15 6 14.6 6 14C6 13.4 6.4 13 7 13ZM17 13C17.6 13 18 13.4 18 14C18 14.6 17.6 15 17 15C16.4 15 16 14.6 16 14C16 13.4 16.4 13 17 13Z"
                                fill="currentColor"
                            />
                        </svg>

                        <span
                            class="menu-item-text"
                            :class="sidebarToggle ? 'xl:hidden' : ''"
                        >
                            My Cars
                        </span>
                    </a>
                </li>
                <!-- Menu Item My Cars -->

                <!-- Menu Item Knowledge Hub -->
                <li>
                    <a href="#" @click.prevent="selected = (selected === 'KnowledgeHub' ? '':'KnowledgeHub')" class="menu-item group"
                        :class="(selected === 'KnowledgeHub') || (page === 'faq' || page === 'knowledgeHub') ? 'menu-item-active' : 'menu-item-inactive'">
                        <svg :class="(selected === 'KnowledgeHub') || (page === 'faq' || page === 'knowledgeHub') ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                            width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.75 2.42969V7.70424M9.42261 13.673C10.0259 14.4307 10.9562 14.9164 12 14.9164C13.0438 14.9164 13.9742 14.4307 14.5775 13.673M20 12V18.5C20 19.3284 19.3284 20 18.5 20H5.5C4.67157 20 4 19.3284 4 18.5V12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M18.75 2.42969V2.43969M9.50391 9.875L9.50391 9.885M14.4961 9.875V9.885" stroke="currentColor"
                                stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                
                        <span class="menu-item-text" :class="sidebarToggle ? 'xl:hidden' : ''">
                            Knowledge Hub
                        </span>
                
                        <svg class="menu-item-arrow absolute top-1/2 right-2.5 -translate-y-1/2 stroke-current"
                            :class="[(selected === 'KnowledgeHub') ? 'menu-item-arrow-active' : 'menu-item-arrow-inactive', sidebarToggle ? 'xl:hidden' : '' ]"
                            width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.79175 7.39584L10.0001 12.6042L15.2084 7.39585" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                
                    <!-- Dropdown Menu Start -->
                    <div class="translate transform overflow-hidden" :class="(selected === 'KnowledgeHub') ? 'block' :'hidden'">
                        <ul :class="sidebarToggle ? 'lg:hidden' : 'flex'" class="menu-dropdown mt-2 flex flex-col gap-1 pl-9">
                            <li>
                                <a href="/knowledge-hub" class="menu-dropdown-item group"
                                    :class="page === 'knowledgeHub' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'">
                                    Knowledge Hub
                                </a>
                            </li>
                            <li>
                                <a href="/faq" class="menu-dropdown-item group"
                                    :class="page === 'faq' ? 'menu-dropdown-item-active' : 'menu-dropdown-item-inactive'">
                                    FAQ
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Dropdown Menu End -->
                </li>
                <!-- Menu Item Pages -->

                <!-- Menu Item Knowledge Hub -->
                <li>
                    <a href="/knowledge-hub" @click="selected = (selected === 'knowledgeHub' ? '':'knowledgeHub')" class="menu-item group"
                        :class=" (selected === 'knowledgeHub') && (page === 'knowledgeHub') ? 'menu-item-active' : 'menu-item-inactive'">
                        <svg :class="(selected === 'knowledgeHub') || (page === 'knowledgeHub' || page === 'knowledgeHub') ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                            width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.75 2.42969V7.70424M9.42261 13.673C10.0259 14.4307 10.9562 14.9164 12 14.9164C13.0438 14.9164 13.9742 14.4307 14.5775 13.673M20 12V18.5C20 19.3284 19.3284 20 18.5 20H5.5C4.67157 20 4 19.3284 4 18.5V12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M18.75 2.42969V2.43969M9.50391 9.875L9.50391 9.885M14.4961 9.875V9.885" stroke="currentColor"
                                stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                
                        <span class="menu-item-text" :class="sidebarToggle ? 'xl:hidden' : ''">
                            Knowledge Hub
                        </span>
                    </a>
                </li>
                <!-- Menu Item My Cars -->

                <!-- Menu Item My Profile -->
                <li>
                    <a
                        href="/profile"
                        @click="selected = (selected === 'My Profile' ? '':'My Profile')"
                        class="menu-item group menu-item-active"
                        :class=" (selected === 'My Profile') && (page === 'profile') ? 'menu-item-active' : 'menu-item-inactive'"
                    >
                        <svg
                            :class="(selected === 'My Profile') && (page === 'profile') ?  'menu-item-icon-active'  :'menu-item-icon-inactive'"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="menu-item-icon-active"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M12 3.5C7.30558 3.5 3.5 7.30558 3.5 12C3.5 14.1526 4.3002 16.1184 5.61936 17.616C6.17279 15.3096 8.24852 13.5955 10.7246 13.5955H13.2746C15.7509 13.5955 17.8268 15.31 18.38 17.6167C19.6996 16.119 20.5 14.153 20.5 12C20.5 7.30558 16.6944 3.5 12 3.5ZM17.0246 18.8566V18.8455C17.0246 16.7744 15.3457 15.0955 13.2746 15.0955H10.7246C8.65354 15.0955 6.97461 16.7744 6.97461 18.8455V18.856C8.38223 19.8895 10.1198 20.5 12 20.5C13.8798 20.5 15.6171 19.8898 17.0246 18.8566ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12ZM11.9991 7.25C10.8847 7.25 9.98126 8.15342 9.98126 9.26784C9.98126 10.3823 10.8847 11.2857 11.9991 11.2857C13.1135 11.2857 14.0169 10.3823 14.0169 9.26784C14.0169 8.15342 13.1135 7.25 11.9991 7.25ZM8.48126 9.26784C8.48126 7.32499 10.0563 5.75 11.9991 5.75C13.9419 5.75 15.5169 7.32499 15.5169 9.26784C15.5169 11.2107 13.9419 12.7857 11.9991 12.7857C10.0563 12.7857 8.48126 11.2107 8.48126 9.26784Z"
                                fill="currentColor"
                            ></path>
                        </svg>

                        <span
                            class="menu-item-text"
                            :class="sidebarToggle ? 'xl:hidden' : ''"
                        >
                            My Profile
                        </span>
                    </a>
                </li>
                <!-- Menu Item My Profile -->
            </div>
        </nav>
        <!-- Sidebar Menu -->

        <!-- Promo Box -->
        <div
            :class="sidebarToggle ? 'xl:hidden' : ''"
            class="mx-auto mb-10 w-full max-w-60 rounded-2xl bg-gray-50 px-4 py-5 text-center dark:bg-white/[0.03]"
        >
            <h3 class="mb-2 font-semibold text-gray-900 dark:text-white">
                #1 Vehicle Maintenance Platform
            </h3>
            <p class="text-theme-sm mb-4 text-gray-500 dark:text-gray-400">
                Leading Vehicle Maintenance Platform with so much more.
            </p>
            <a
                href="/mechanic-finder"
                class="bg-brand-500 text-theme-sm hover:bg-brand-600 flex items-center justify-center rounded-lg p-3 font-medium text-white"
            >
                Find a mechanic
            </a>
        </div>
        <!-- Promo Box -->
    </div>
</aside>
<!-- ===== Sidebar End ===== -->
